@charset "utf-8";
// 通用变量设置
// ----------
// 根字体大小，1.25*16px
$rootFontSize: 12px;
// main width
$maxWidth: 1300px;
$minWidth: 1080px;
// $mainWidth: 1300px;
// 文本字体
//金黄色
$vip-orange: #cba45c;
$textColor: #555;
$bodyBg: #f0f0f0;
// 通用字体族
$fontFamily: "微软雅黑",
"宋体",
arial,
sans-serif;
// 链接默认颜色
$linkColor: #555;
$mainLink: #3399e0;
// 网格布局
$gridWidth: 200px;
$gridGutter: 20px;
// 背景图链接简写
$appBg: "../images";
$utilsBg: "../images/utils";
// fonts
$font: "../fonts";
